[2017-02-03 17:17] ColinSullivan1 opened #3 "Continuous Integration Support"
Travis CI needs to be setup.

[2017-02-03 17:23] ColinSullivan1 opened #4 "Add TLS support"
Add TLS support where relevant

[2017-02-16 19:59] ColinSullivan1 opened #5 "Add/Update Code and Readme Documentation"
Preparation for opening this repository up to the public:

- [x] installation instructions
- [x] review code comments
- [x] update API example

[2017-02-16 20:02] ColinSullivan1 opened #6 "Support boolean types"
Currently boolean types are ignored when setting up the prometheus metrics.  Add support for this.

[2017-02-16 20:12] ColinSullivan1 opened #7 "Support Array/Vector type of metrics"
Support arrays/vectors, such as the list of individual connections and subscriptions.  One approach may be to create a deterministic namespace of metrics to represent individual elements, but it is worthwhile to first look into what other prometheus exporters do with these types data.

[2017-03-03 22:38] #3 closed, assigned to ColinSullivan1

[2017-03-03 22:40] ColinSullivan1 opened #10 "Use gometalinter"
Ensure code passes gometalinter (with potential filters, etc), and add it to Travis CI.

[2017-03-09 15:55] #10 closed, assigned to nobody

[2017-03-09 19:59] ColinSullivan1 opened #14 "Example Usage With Grafana"
Provide instructions to start a Grafana + Prometheus + NATS exporter stack, and load a NATS dashboard to demonstrates this exporter.  Include steps to install, run, and screenshots.

[2017-04-10 15:56] ColinSullivan1 opened #15 "General Availability"
Open this repository up to the public.

This will require:
- [x] Example with Grafana, include dashboard, installation steps
- [X] Ensure acceptable code coverage (85-90%)
- [x] Review of code, tests (#5)
- [x] Thorough review of the README
- [x] Identify and resolve any critical issues or missing functionality (TLS).
- [x] Cross compile, package generation for release.

[2017-05-05 22:33] #14 closed, assigned to nobody

[2017-05-05 22:33] #5 closed, assigned to ColinSullivan1

[2017-05-15 21:37] #4 closed, assigned to ColinSullivan1

[2017-05-16 19:40] #15 closed

[2017-05-16 19:47] frodenas opened #22 "Leaked credentials at the `server_id` label"
When the nats `url` contains a `user` and `password` (because nats server authentication is enabled), credentials are reported as part of the metric `server_id` label. It's true that we can specify a `tag` to override the nats `url` at the `server_id` label, but in my particular use case I want to report the nats url and not a tag, and I don't want to expose my credentials.

[2017-05-16 19:53] ColinSullivan1 commented on #22
@frodenas , thank you for using NATS, and reporting the issue!  Good catch; we should strip out credentials from the url.  I'll look into this.  As you suggested, using tags would be a workaround in the meantime - you could even use your url w/o credentials as the tag.

[2017-05-17 21:00] ColinSullivan1 opened #26 "Prometheus recommended changes"
* Use ConstMetrics rather than GaugeVec and CounterVec.
* Remove PrometheusMetricConfig

[2017-05-17 21:26] ColinSullivan1 opened #27 "Streamline walkthrough"
* Update the prometheus command line to ensure an error occurs if not executed the walkthrough directory.
* Add notes about the default Grafana admin credentials for convenience

[2017-05-18 13:23] laugimethods opened #29 "Grafana Dashbord: Rate / Sec"
Hi,
You might consider in the Grafana Dashboard (https://github.com/nats-io/prometheus-nats-exporter/blob/master/walkthrough/grafana-nats-dash.json) to provide rate/sec instead of global count.

To do so, you can use `irate(gnatsd_varz_out_bytes [1m])`.

Example:
[NATS Servers.json](https://github.com/Logimethods/smart-meter/blob/master/dockerfile-metrics/NATS%20Servers.json#L342)
[grafana_nats_sc

[2017-05-18 16:48] ColinSullivan1 commented on #29
@laugimethods , great suggestion; I feel both max and rate are valuable for different reasons.  Throughput could certainly be added as another row in the dashboard.

[2017-05-31 16:31] ColinSullivan1 opened #31 "Prometheus recommended changes"
* Prometheus does not endorse the use of labels.  Instead add a field in the monitoring payload for monitoring in dashboards, etc.  This is beneficial as this can be re-used by other future exporters we'll want to support.
* Prometheus requires a 1:1 paring of an exporter/server to be enforced.

See https://github.com/prometheus/docs/pull/748.

[2017-06-08 13:13] petemiron opened #32 "Allow User/Password to be set on Exporter Requests"
In order to secure metrics collection, add ability for User/Password to be set using basic auth during metric collection.

[2017-06-13 15:05] #22 closed

[2017-08-03 04:00] rohitpal99 opened #34 "Zipkin like tracing"
Is it possible to get zipkin like tracing into Prometheus from exporter.

Please suggest.

[2017-08-08 22:21] ColinSullivan1 commented on #26
Moved to #31

[2017-08-08 22:21] #26 closed

[2017-08-21 19:42] mitchhh22 opened #37 "Support nats-streaming server metrics"
I'm looking for a solution to monitoring the /streaming metrics exposed by a nats-streaming server.

For example: http://localhost:8222/streaming/clientsz?limit=1&offset=1&subs=1

Specifically it would be great to have prometheus scrape the `pending_count` metric for each subscription. Trying to monitor this currently yields a skewed result due to the many messages in/out between nodes in the nats

[2017-08-31 22:44] ColinSullivan1 commented on #34
Would you mind explaining your use case further?   Are you suggesting zipkin integration into the NATS server or NATS streaming server?

[2017-09-01 02:53] rohitpal99 commented on #34
Sure,
Thanks for replying back.
I would like the tracing of a request throughout my   application, So that I could know what flow has a request taken through the microservices application which could include information also on what NATS subjects were visited.
Also it would be great if we would trace NATS requests per subject like throughout, How many failed etc.

[2017-09-01 18:14] ColinSullivan1 commented on #37
@mitchhh22 , This sounds good, and I agree that we should include streaming metrics in the prometheus monitor.  We'll look into it.

[2017-09-20 02:16] Murryy79 opened #38 "quiet often nats_exporter process is going down and resulting in this alert"
![image](https://user-images.githubusercontent.com/19574664/30623754-4a74c62e-9d7f-11e7-8363-5ed7f16de1da.png)

upon investigating i found this in /var/vcap/sys/log/nats_exporter
![image](https://user-images.githubusercontent.com/19574664/30623776-6b6cd380-9d7f-11e7-9e2e-0d865c81c858.png)

anybody know why this happens?  some of the dashboards in grafana shows no data because of this

[2017-10-05 18:26] ColinSullivan1 commented on #38
@Murryy79 , thanks.  It looks like there are some network events going on.  It'd make sense that there would be no data in Grafana.  What is interesting is the Starting Server :9118, as if there is no hostname.  Can you share more of the log?

[2017-12-04 17:00] ColinSullivan1 opened #39 "Support streaming channel and subscription metrics"
In NATS Streaming monitoring provide metrics for channels and subscriptions.

Also referenced here:  https://groups.google.com/forum/#!topic/natsio/RCACO14-_aM

[2018-01-02 11:33] abbi-gaurav commented on #34
I agree having Zipkin like tracing would sure be helpful especially for troubleshooting scenarios.
e.g. the trace of message
 publishing ----> [NATS Streaming] -----> Consumer 1
                                                            ------> Consumer 2
                                                            ------> Consumer n
can help me tell if there are any consumers or not for a particu

[2018-01-12 23:53] ColinSullivan1 commented on #38
Closing due to inactivity.  Please re-open if you are continuing to have issues.

[2018-01-12 23:53] #38 closed

[2018-01-22 15:01] jebbench opened #40 "[Request] Add a health check endpoint"
We're deploying an instance of the metrics exporter to K8s and it would be useful to have a `healthz` endpoint that just returns 200.

We're hitting the metrics endpoint at the moment but I suspect that causes a whole lot of unnecessary work to be done for it to be ignored by K8s.

[2018-01-22 15:26] aricart commented on #40
this would be useful on gnatsd/nats-streaming-server as well.

[2018-01-22 20:45] ColinSullivan1 commented on #40
@jebbench , we discussed this internally today and will move forward with some design in this area.  We really appreciate your suggestion!

[2018-01-23 21:49] #32 closed

[2018-02-16 23:22] #27 closed

[2018-03-01 17:31] ColinSullivan1 opened #48 "Create official docker images"
https://github.com/docker-library/official-images/pull/4069

[2018-03-28 21:59] camsjams commented on #48
Looking forward to it

[2018-04-02 23:11] activeshadow commented on #39
This is a critical roadblock for me using NATS Streaming in my production environment. I don't mind contributing to this effort, assuming someone can point me in the right direction.

I assume all or part of [this issue thread](https://github.com/nats-io/nats-streaming-server/issues/491) will be relevant to the effort... can we get a conversation started around this?

[2018-04-03 20:34] ColinSullivan1 commented on #39
@activeshadow , for sure, and thank you for starting this conversation!  We would welcome a contribution!

To start, one item that needs to be addressed is how to best handle arrays of JSON objects for Prometheus scraping.  As an arbitrary example, let's say we wanted to return the client id for subscription "foo" in the example JSON returned below for `clientsz`:

[code]

The naming [style guide]

[2018-04-03 20:56] ColinSullivan1 commented on #39
Related to #7 and #37

[2018-04-17 17:28] marceldegraaf commented on #39
I'm evaluating NATS (and Streaming) for a production deployment. Having proper Prometheus metrics would be great; let me know if I can help.

[2018-04-18 03:33] ColinSullivan1 commented on #39
@activeshadow , Great suggestion about using labels.  It will be more code, but also much more useful.

`last_seq` - `last sent` is a good indicator.

`subscriptions.pending_count` will give you the number of outstanding acknowledgments - the number of messages sent to your subscriber that have not been acknowledged.  If you process in your callback and auto acknowledge, or manually acknowledge af

[2018-04-18 03:35] ColinSullivan1 commented on #39
@marceldegraaf , we'd welcome a contribution in this area.  Would you want to look over the code and write up a short proposal in this issue?

[2018-04-18 14:17] kozlovic commented on #39
@ColinSullivan1 Yes, `pending_count` means what you described: the number of messages sent by the server to the subscription for which corresponding acknowledgments have not been received (or processed) yet.

[2018-04-21 06:48] marceldegraaf commented on #39
@ColinSullivan1 can you let me know what you'd expect of such a proposal? I'm new to the NATS codebase and the project in general.

[2018-08-16 10:44] Takashi-kun opened #52 "Support RTT metrics"
Is it possible to get RTT ?
Or would you tell me the other way to get data like it ?

[2018-08-21 03:06] Takashi-kun commented on #52
@ColinSullivan1
Thank you for replying.

I'm looking for client and server one, In depth I want to collect PING/PONG latency with NATS server.
(e.g. https://github.com/nats-io/gnatsd/commit/f9f78a2b55a2fcf57a11005208857a96c3726014)
If possible I want messages latency between routes(if possible)

I hope to collect these metrics and monitoring by Prometheus, so would you have any roadmap to implemen

[2018-10-17 19:42] caarlos0 opened #53 "proposal: refactory to use less/no generics"
Hi everyone, thanks for the great work on NATS and on this exporter!

So, I was looking in issues like #37 and #39, and I was looking forward into implementing it, but I found some issues that, while not blockers, would make the code smell bad.

The exporter currently uses reflection to determine the metrics, so, we have a generic exporter, to which we pass an endpoint and it exposes all metrics a

[2018-10-30 21:56] ColinSullivan1 commented on #39
@marceldegraaf , Apologies for the delay, @wallyqs will take at look.

[2018-10-30 23:53] caarlos0 commented on #39
BTW, I've opened a PR with some metrics: #54

[2018-11-21 14:46] seriousben commented on #39
We are using #54 and it works well for us btw. Would be nice to get that PR closer to being merged.

[2018-12-19 19:43] alexellis commented on #39
Hey @ColinSullivan1 @wallyqs what do you think of #54? We have users in production who could really benefit from this too.

Thanks,

Alex

[2019-01-04 18:11] ColinSullivan1 commented on #53
I think this is a good idea.  It'll require more maintenance as new metrics from servers are exposed, but will be the correct way to do this.

[2019-01-07 10:00] lammel opened #57 "Missing maintainer in Debian package"
The debian package is missing a maintainer and hence causes warnings for dpkg processing.

Warnings appear on every dpkg/apt run like this:

[code]

As seen from the debian package for v0.1.0 the maintainer is empty:

[code]

Please add a maintainer string to the `.goreleaser.yml` file in the nfpm section.
For example use the first maintainer from MAINTAINER.md:

[code]

(no pull request provided,

[2019-01-11 13:51] vtolstov opened #59 "consider to move this to gnats?"
why not move this to gnats?

[2019-01-31 06:32] koliyo commented on #48
I just noticed that it is allowed to use git urls as build context for docker compose. This is what I currently use

[code]

[2019-02-21 16:43] CaptainYarb commented on #40
Is there any progress for this? We are in a very similar boat.

[2019-03-01 16:40] juandiegopalomino opened #60 "Is there a helm chart for this?"
Just wondering if you guys implemented one officially.

[2019-03-01 17:10] wallyqs commented on #60
Not for the nats exporter repo itself but a user contributed one for the helm chart from the nats operator so that it can be enabled through that here (`metrics.enabled`):
https://github.com/nats-io/nats-operator/tree/master/helm/nats-operator#nats-operator-helm-chart

[2019-03-01 17:27] juandiegopalomino commented on #60
thank you!

[2019-03-01 17:27] #60 closed

[2019-03-24 13:56] lammel commented on #57
I just tested a manual snapshot build for the merged pull request #62 built with goreleaser (locally).

Works well, no more warnings from dpkg/apt. So I'm closing the issue as it will be ok for the next release. Maybe you could do a release for 0.2.1 for github which includes the fix soon.

Thanks and BR, Roland

[2019-03-24 13:56] #57 closed

[2019-03-26 17:04] JensRantil commented on #39
https://github.com/nats-io/prometheus-nats-exporter/pull/54 is now merged so maybe this can be closed?

[2019-03-26 18:19] caarlos0 opened #63 "no artifacts uploaded to the release"
https://github.com/nats-io/prometheus-nats-exporter/releases/tag/v0.2.0

seems like the release process failed somehow?

cc/ @wallyqs

[2019-03-27 17:39] Lazyshot commented on #48
Can we revisit this to at least get something on the hub?

[2019-03-27 18:53] wallyqs commented on #48
You can use the following image that the maintainers support too: `synadia/prometheus-nats-exporter`

[2019-04-08 14:37] JensRantil commented on #39
@ColinSullivan1 Ping.

[2019-04-08 15:58] #39 closed

[2019-04-10 01:25] ColinSullivan1 commented on #39
@JensRantil - Thank you - yes, Wally closed it.

[2019-04-17 10:22] JohnnyQQQQ opened #67 "An error has occurred during metrics gathering"
After updating our stateful set in kubernetes the exporter stopped working with the following error:

[code]

We are running nats-streaming v0.14.0 with the exporter as sidecar.

[2019-04-17 10:47] wallyqs commented on #67
Thanks for the report, looks like this might be the same issue that was fixed via https://github.com/nats-io/prometheus-nats-exporter/pull/65
Will push a new release with the fix today, sorry about that.

[2019-04-17 12:13] JohnnyQQQQ commented on #67
Thank you, didn't checked the MRs. Will reopen if the problem persists after the new release.

[2019-04-17 12:13] #67 closed

[2019-04-19 16:53] juandiegopalomino opened #68 "Incorrect Nats Streaming Metrics Types"
Going to localhost:7777/metrics, the nss_server_bytes_total proclaims itself to be a counter
[code]
And yet it can actually go down as messages are deleted from the servers due to old age (which is expected)
<img width="1583" alt="Screen Shot 2019-04-19 at 12 40 05 PM" src="https://user-images.githubusercontent.com/10430635/56433911-8eb49700-62a0-11e9-8ad3-03d24deb5130.png">
Am I doing something s

[2019-04-24 13:51] JohnnyQQQQ commented on #67
@wallyqs when will the new release approximately land?

[2019-04-25 14:35] andriy-bulynko opened #69 "Proposal: Add server info metric (nss_server_info)"
We found that it would be extremely useful to expose more of the information provided by the `serverz` monitoring endpoint via the metrics mechanism. Namely, information such as "cluster_id", "server_id", "version", "go_version", "state", "role",  and "start_time".

[2019-04-29 22:05] #69 closed

[2019-04-30 00:00] wallyqs commented on #68
OK so we should change this into a gauge then: https://prometheus.io/docs/concepts/metric_types/

[2019-04-30 00:01] wallyqs commented on #37
This was supported via #54

[2019-04-30 00:01] #37 closed

[2019-04-30 00:18] wallyqs commented on #63
Not sure how it failed when pushing v0.2.0 but this did not occur for v0.2.2... https://github.com/nats-io/prometheus-nats-exporter/releases/tag/v0.2.2

[2019-04-30 00:27] wallyqs commented on #67
Sorry for the delay here, have pushed a new version of the exporter where this should be fixed: https://github.com/nats-io/prometheus-nats-exporter/releases/tag/v0.2.2

[2019-05-06 14:51] andriy-bulynko opened #73 "Proposal: add queue_name, is_durable, and is_offline labels to streaming subscription metrics"
Since `nats-streaming-server` can report this information, it would be great to expose it with metrics. We would find it extremely useful to be able to see which subscriptions are `durable`, `queued`, `offline`, etc.

[2019-05-06 17:06] #73 closed

[2019-05-17 19:01] caarlos0 commented on #63
yeah, its good! thanks!

[2019-05-17 19:01] #63 closed

[2019-05-17 19:02] caarlos0 commented on #68
check #76

sorry about my mistake on it.

[2019-05-17 20:03] #68 closed

[2019-05-17 20:05] caarlos0 commented on #53
already did that on streaming and connz metrics.

#54 #75

[2019-05-28 17:36] rigtorp commented on #52
This would be very useful to detect network and buffering/queuing delays. It's possible to have low amount of pending messages/data but high buffering/queuing delay. By measuring RTT it's possible to detect this.

[2019-05-28 18:00] rigtorp opened #78 "Export connection info"
**What**: Export information about individual connections

**Why**: To allow prometheus alerting on slow clients and track bandwidth usage by client.

**How**: Something like this:
[code]
SNMP exporter uses similar pattern:
[code]

[2019-05-31 17:40] kaya-zekioglu opened #79 "NATS Streaming Server has more than 1024 channels yet only 1024 channels worth of metrics are exported"
https://github.com/nats-io/prometheus-nats-exporter/blob/33dba36cdcf56aebb73bb9731b2121d6ef9c1fde/collector/streaming.go#L199

When I hit the `streaming/channelsz` monitoring endpoint myself I need to add query parameter `limit=10000` or similar to see all of my channels. Yet it seems here in the exporter code that we don't specify a limit and therefore only get the first 1024.

Please advise. Wou

[2019-05-31 19:17] wallyqs commented on #79
I see... thanks for the report, for now adding a parameter to be able to get a higher number of results for now sounds like a good idea.  Ideally the exporter should do this automatically I think maybe logic would be for it to check whether it got 1024 entries and then use the`offset` option to get the next 1024 entries, etc... so that it can receive all the entries making multiple requests instea

[2019-05-31 20:23] kaya-zekioglu commented on #79
Thank you for the prompt response, I agree with your assessment.

[2019-06-09 17:50] JannikZed commented on #48
any updates here? Your image `synadia/prometheus-nats-exporter` is no longer existing ... how to export my nats-streaming metrics to prometheus?? Why is this so complicated?

[2019-06-09 17:57] wallyqs commented on #48
@JannikZed what do you mean that the image does not exist? You can find it here: https://hub.docker.com/r/synadia/prometheus-nats-exporter/tags

[2019-06-09 17:59] JannikZed commented on #48
I don't know why, but I couldn't find this image with any google or search on dockerhub and when trying to pull it, I get the following:
[code]

[2019-06-09 18:00] JannikZed commented on #48
ah ok, you don't have any latest tag .. that's the problem

[2019-06-09 18:01] wallyqs commented on #48
@JannikZed thanks for the update, ok will take a look at that and a note about the images in the readme. You can find info on getting streaming metrics here: https://github.com/nats-io/prometheus-nats-exporter/blob/master/walkthrough/streaming.md

[2019-06-24 23:26] wallyqs commented on #34
Closing for now. For zipkin like tracing can check: https://github.com/nats-io/not.go

[2019-06-24 23:26] #34 closed

[2019-06-28 18:22] castocolina opened #86 "QUESTION Is posible to add custom metrics prefix or custom label?"
My dev-ops team manage the central prometheus and use configuration that requires we provide custom match prefix for my components metrics. My dev team need to set custom prefix for all our products components. Is possible do this for the exporter or set custom label?

[2019-06-28 18:24] wallyqs commented on #86
@castocolina there is a wip PR for this here: https://github.com/nats-io/prometheus-nats-exporter/pull/64 will see if I can pick it it up and merge, and then ship in next release

[2019-07-09 02:04] cecilwei opened #87 "NATS metrics are missing"
Hi,

I have both NATS server 2.0.0 and exporter 0.4.0 running on the same server. However, the metrics reported from exporter doesn't seem to have variables with prefix 'gnatsd_varz' and thus the dashboard shows nothing.

The following is my docker compose setting. Is there anything I missed? Any suggestion is appreciated.
[varz.json.txt](https://github.com/nats-io/prometheus-nats-exporter/files/3

[2019-07-10 20:38] wallyqs commented on #87
could you try with this instead: `command: "-varz http://127.0.0.1:8222"` for the exporter?

[2019-07-11 01:27] cecilwei commented on #87
thanks for your reply. I tried but it didn't help.

[2019-07-11 20:49] wallyqs opened #88 "ignoring server http://localhost:8222: invalid character 'p' after top-level value"
Getting this error when starting prometheus exporter image as follows:

[code]

[2019-07-11 20:50] wallyqs commented on #88
Seems this goes away if including an extra slash to the route:

[code]

[2019-07-11 20:51] wallyqs commented on #88
Also `invalid character 'p' after top-level value` probably means `page not found`

[2019-07-11 21:05] wallyqs opened #89 "use of closed network connection when stopping the server"
Currently would only show up when running with debug mode:

[code]

[2019-07-12 15:46] wallyqs commented on #86
Fixed via #64

[2019-07-12 15:46] #86 closed

[2019-07-14 15:05] thomasf opened #92 "exporter should stop responing if nats is down"
We hava had outages in some staging servers because nats was down but the exporter still was successfully scraped so it was considered `up` by prometheus. Most (if not all) exporters I use just stops responding so that scraping fails and alerts are triggered.

[2019-07-14 18:11] wallyqs commented on #92
thank you @thomasf I agree with this idea. Do you have a sample reference from another exporter on how this behavior is implemented? One idea is that we should add a health check endpoint (#40) too

[2019-07-14 18:37] wallyqs commented on #87
maybe you need to add some exposed ports to the config so that it is reachable among the containers

[2019-08-16 00:35] wallyqs opened #94 "Streaming metrics not using the optional prefix"
Currently they are still labeled `nss` even if setting the prefix to `stan` for example:

<img width="502" alt="Screen Shot 2019-08-15 at 5 34 16 PM" src="https://user-images.githubusercontent.com/26195/63135506-0363bd80-bf83-11e9-855c-fb1717afd8fa.png">

[2019-08-16 16:00] #94 closed

[2019-09-02 02:43] shohi opened #100 "support custom labels to be set through command line flag"
It's really convenient for devops to monitor and manage different nats clusters on the cloud if custom labels are supported.

There is a related issue (https://github.com/nats-io/prometheus-nats-exporter/issues/86) about this concern, but only prefix is supported.

My suggestion is using another flag to make users set what labels to be added for all metrics, where these labels are all constant lab

[2019-09-02 02:58] wallyqs commented on #100
Thanks @shohi could you share an example of a custom label to be added to validate? We'd gladly update to make it more convenient :)

[2019-09-02 07:35] shohi commented on #100
Sure. To be simple, label pairs should be provided, e.g.
[code]

then the output metrics should contain all these label pairs, like the followings

[code]

[2019-09-02 15:12] wallyqs commented on #100
Thanks that is helpful :)

[2019-09-11 20:38] caarlos0 opened #102 "no docker image for latest release"
`synadia/prometheus-nats-exporter:0.6.0` does not exist...

Can be verified at https://hub.docker.com/r/synadia/prometheus-nats-exporter/tags.

[2019-09-12 00:31] wallyqs commented on #102
Sorry about that, should be fixed now.

[2019-09-12 00:31] #102 closed

[2019-09-12 23:11] wallyqs opened #104 "Add /gatewayz and /leafz options"

[2019-09-13 18:22] variadico commented on #100
Sounds good to me too.

[2019-10-03 15:00] artas728 commented on #87
the same problem
@cecilwei , did you manage to solve this problem?
thanks

[2019-10-03 15:21] ColinSullivan1 commented on #87
You could try exposing the port, e.g.

[code]

https://docs.docker.com/compose/compose-file/#expose

[2019-10-03 15:29] artas728 commented on #87
@ColinSullivan1 thank you for answer
I did it but prometheus-nats-exporter still doesn't see metrics from NATS

[2019-10-09 05:18] wutkemtt opened #107 "An error has occurred during metrics gathering: ... was collected before with the same name and label values"
We get an error when prometheus-nats-exporter is gathering duplicate metrics:

[code]

As I read this issue should be fixed since version 0.2.2 (see issue #67 ).

We are using prometheus-nats-exporter in version 0.6.0 with the official docker image and the following options in a kubernetes pod on Azure AKS:
"-varz", "-connz", "-routez", "-subz", "-channelz", "-serverz", "http://localhost:8222", "h

[2019-11-12 13:32] JuniorCtba opened #108 "Support to enviroments and config file. (Docker)"
Hello,

Will be very nice if the docker image could support environments and also a configuration file.

It is very more easy to configure the container with those environments or a configuration file instead of use a lot of a usage of many arguments.

Thanks

[2019-12-24 12:28] re-vax opened #110 "Missing decimals on metrics"
I'm actually testing nats-streaming so I've added the prometheus exporter to monitor the bus.

Everything was fine for the chan_msgs_total before reaching 1 Million msg sent to the bus.
The exporter does not export metrics with decimals when using exposant form:

nss_chan_msgs_total{channel="helloworld",server_id="http://localhost:8222"} 1e+06

Expecting value like 1.2295494e+06.

I didn't find in

[2020-01-23 10:25] Darkclainer opened #112 "Migrating to go modules, replace archived repos"
I'm not using this project directly, so I didn't immerse into this and don't know if my changes break something.
#111

[2020-02-17 09:05] wutkemtt commented on #78
We need this feature too to be able to define limits and alerts based on number of connections and subscriptions per client.
Furthermore showing additional connection option like MaxPubInFlight would help to prevent "rogue" clients from crashing the whole cluster.

[2020-02-17 09:07] ripienaar commented on #78
I dont think this will work well, the way prom stores data this will lead to a huge explosion of data even on relatively small networks

[2020-02-17 09:13] ripienaar commented on #78
Here are guidelines from the author/maintainers:

[code]

Your proposal even if 1 client connects 10 times from the same host to the server we'd already be on 40 different metrics (port unique each time).  Even just including the client name would quickly become a performance issue on the prom server.

[2020-03-04 22:08] p0pr0ck5 commented on #108
+1. Trying to use this in an orchestration system is a pain.

[2020-05-07 14:45] codifierr opened #115 "Nats Streaming server server_id is empty in Metrics data"
Nats Endpoint output
**curl** http://localhost:8222/streaming/serverz
**Response :**
{
  "cluster_id": "test-cluster",
  "server_id": "iZd5VFnDFjeY49HNP8kAiD",
  "version": "0.17.0",
  "go": "go1.13.7",
  "state": "STANDALONE",
  "now": "2020-05-07T14:26:46.098524789Z",
  "start_time": "2020-05-06T08:18:33.001460644Z",
  "uptime": "13h24m6s",
  "clients": 1,
  "subscriptions": 0,
  "channels": 1,

[2020-06-08 07:46] usero4eg commented on #87
Hello, I think you should use something like this:

[2020-06-10 22:50] MidnightJava opened #117 "Unable to disable ssl validation"
I'm running the exporter in an isolated environment where someone has imported a docker image with version 0.6.0. I connect to my nats server through a reverse proxy that only exposes an https endpoint, but the nats server has a cert signed by a private CA. I don't see an option to disable cert validation, but looking through the code, it seems to me that if I specify the -tlscacert option with th

[2020-06-13 19:08] MidnightJava commented on #117
I did find a workaround that enables me to verify the server cert against my private CA. I just volume-map /etc/pki from the host to the docker container, and the collector apparently uses the trust chains defined in that directory tree. Peviously, I didn't realize it would do this, since there is a way to specify a path to the CA for client connections to the exporter but not for server connectio

[2020-06-21 14:44] daniele-sartiano commented on #87
Same problem here.

[2020-06-24 12:56] LuisRG-GIG opened #119 "Cant resolve the dns name"
Hi guys!
I'm deploying NATS exporter in Openshift environment and I'm getting an error message:
`Error loading metric config from response: Get "http://nats-cluster.dummy1-prd01-tontin.svc.cluster.local:8222/varz": dial tcp: lookup nats-cluster.dummy1-prd01-tontin.svc.cluster.local on 10.64.61.101:53: no such host`

I run a curl from another pod in the same NameSpace which nats exporter is running

[2020-06-25 12:16] LuisRG-GIG commented on #119
I found the issue... just I needed to change the dnsPolicy in the deployment manifest:
`dnsPolicy: Default  ->  dnsPolicy: ClusterFirst`

Regards!

[2020-06-29 04:00] codifierr commented on #87
I faced the same problem where if nats took a little more time that the nats exporter starts to ping. we never saw the nats metrics again.
Then I found this error in logs -  [ERR] Error loading metric config from response: Get "http://localhost:8222/routez": dial tcp [::1]:8222: connect: cannot assign requested address
I think the problem is here in this line of code.it never retries for any other

[2020-07-30 00:31] akhenakh opened #121 "Docker image for aarch64 not provided"
the work is done already https://github.com/nats-io/prometheus-nats-exporter/blob/master/docker/linux/arm64v8/Dockerfile

but the image on hub docker synadia/prometheus-nats-exporter is not multiarch

see resolved related ticket for drone-server https://github.com/nats-io/nats-server/issues/1540

[2020-07-30 00:44] akhenakh commented on #121
also updated the dockerfile for 0.6.2 https://github.com/akhenakh/prometheus-nats-exporter/commit/62dba6397d086dcca60bccaa93b08b604af0e712

[2020-08-26 22:35] jphgardner commented on #87
Same problem here

`nats-streaming:
    image: nats-streaming:latest
    container_name: nats-streaming
    hostname: nats
    restart: unless-stopped
    ports:
      - 4222:4222
      - 8222:8222
    command: ["-m", "8222", "-store", "file", "-dir", "/datastore"]
    volumes:
    - ./Nats-Streaming:/datastore
  nats-exporter:
    image: synadia/prometheus-nats-exporter:latest
    command: ["-var

[2020-08-28 12:58] romuloctba commented on #40
customization of the endpoint path would be really appreciated! one could make it be `/health` or `/healthcheck` or any custom path

[2020-09-14 09:58] AFriemann commented on #92
my two cents:

* the exporter should always respond but set the `up` metric to `0`
* the health check should always report okay when the exporter is functioning (this is used in e.g. kubernetes to check the healthyness of a pod)

[2020-09-15 09:34] thomasf commented on #92
I still think it should time out or close the connection if something is wrong because Prometheus should not record old values.. Blackbox exporter is a good example of how to monitor multiple things  where every individual exported host can time out or fail scraping individually
https://github.com/prometheus/blackbox_exporter#prometheus-configuration

[2020-09-16 05:18] wutkemtt opened #122 "Please provide a gnatsd_varz_server_info metric"
To get a full info about our server infrastructure we would like to have the version and server_name, server_id values in a dedicated metric. Currently we are getting those information from nats-surveyor metrics only. It would be useful to detect some version inconsistencies.

[2020-10-02 03:10] #122 closed

[2020-10-15 21:31] variadico commented on #112
Sorry this turned out to be a little more involved than it seemed. We've finally moved to modules with https://github.com/nats-io/prometheus-nats-exporter/pull/124 !

[2020-10-15 21:31] #112 closed

[2020-11-20 10:31] saggzz commented on #34
Seems like  https://github.com/nats-io/not.go is not maintained anymore. Tried this in Java and Maven dependency is not available anymore.

[2020-11-20 11:15] ripienaar commented on #34
We are working on this as part of nats-surveyor where it will support tracing across imports. Some detail:

 * ADR https://github.com/nats-io/nats-server/blob/master/doc/adr/0003-distributed-tracing.md
 * full multi component overview https://gist.github.com/ripienaar/81dcd435b9bcb34419a7caec8e52c2b8

[2021-01-12 12:24] joernkleinbub commented on #92
Here I have the same problem currently.
It would be good when the Exporter enrichs the NATS metrics with an "..._up" metric. The ..._up shall be 0 if it is not available and  leave the others empty.

[2021-01-13 17:50] AFriemann commented on #92
I totally agree that no "wrong" values should be exported, but that's up to the exporter to handle. I.e. in case of NATS being down the exporter shouldn't offer any metrics (except it's own) and only set `up` to 0.

I think this exporter is very different from the blackbox exporter (which is actually a very "unusual" one in the prometheus landscape). blackbox is selecting it's target based on the

[2021-01-18 07:42] thomasf commented on #92
When a configured scrape target is unreachable it's `up` metric will automatically be recorded as 0 by prometheus. I believe it is assigned at scrape time by the scrape system so it is a special property. I guess adding a new `nats_up` or whatever is fine though.

[2021-02-20 19:31] okgolove opened #128 "0.7.0 no docker image"
Hello! I am one of maintainers of [prometheus-nats-exporter helm chart](https://github.com/prometheus-community/helm-charts/tree/main/charts/prometheus-nats-exporter).
I'd like to update default version of the exporter using in the chart to 0.7.0 but I can't find new image. Have you changed docker repository name? It used to be synadia/prometheus-nats-exporter.

cc @caarlos0

[2021-02-24 08:12] joancafom opened #129 "Binaries for 0.7.0"
Hi,

I have noticed that [the latest tagged release](https://github.com/nats-io/prometheus-nats-exporter/releases/tag/v0.7.0) for Prometheus Nats Exporter (0.7.0) does only include the source code. Usually, previous versions did include the binaries for different platforms and a docker image implementing them (see [0.6.2](https://github.com/nats-io/prometheus-nats-exporter/releases/tag/v0.6.2) for

[2021-03-01 18:38] variadico commented on #129
Yeah, sorry for the delay. Binaries are up now.
https://github.com/nats-io/prometheus-nats-exporter/releases/tag/v0.7.0

[2021-03-01 18:38] #129 closed

[2021-03-01 19:11] variadico commented on #128
Hey there. Sorry for the delay, we're in the middle of moving our images to a new location.

Going forward, the new images wlil be here:
https://hub.docker.com/r/natsio/prometheus-nats-exporter/tags

[2021-03-01 19:11] #128 closed

[2021-03-11 11:48] Zyqsempai commented on #40
@wallyqs any news on this one? Any chance that we could expect to see it in this quarter? I would be glad to help you with some contributions if it will help.

[2021-03-16 18:39] Zyqsempai opened #131 "proposal: add closed connections metrics data"
Hello,
It would be super convenient to have access to the next closed connection info: `cid`, `reason` and `name`. Usually, it's enough to find out the rest of the details, but lack of that info in metrics makes it almost impossible to make auto detections of different connections failures types.
From my point of view, we should add dedicated, the separate metric for this purpose to avoid overload

[2021-03-17 09:25] Zyqsempai commented on #131
@wallyqs @ColinSullivan1 Would love to hear your opinion on it and will be glad to help with implementation.

[2021-03-17 13:39] wallyqs commented on #131
Hi @Zyqsempai I think that is a great idea, if you send a PR will be glad to accept as well.

[2021-03-18 12:56] marchenkov opened #132 "Update image on docker hub to 0.7.0"
Hello,
@wallyqs please add latest release (0.7.0) to docker hub.
https://hub.docker.com/r/synadia/prometheus-nats-exporter/

[2021-03-19 05:25] wallyqs commented on #40
@Zyqsempai not planned right now, but if you send a PR would help a ton of course.

[2021-03-23 19:47] PedroCapdevila opened #133 "Exporter does not register metrics if the first request to NATS fails"
Hi, I updated the exporter from `synadia/prometheus-nats-exporter:0.6.2` to `natsio/prometheus-nats-exporter:0.7.0`. I have the exporter configured to obtain all the metrics of all available NATS and NATS-STREAMING endpoints (varz, connz, channelz, etc.) and, in the new version, the exporter only records metrics from the connz, channelz and serverz endpoints.

I did some tests (with docker-compose

[2021-03-25 01:00] dizecto opened #134 "An error response when a nats-server has 2 or more inbound gateway connections."
Hi,
I am testing a nats-server pod with this exporter in kubernetes cluster.
Recently I built a super-cluster with 2 nats-clusters and added the gatewayz option and found a nats-server's metrics was missing at grafana dashboard but was discovered at prometheus service discovery.
So I requested all exporters directly and got the response below from one nats-server.

ubuntu@nsc:~$ curl -i http://127

[2021-03-26 15:05] Zyqsempai commented on #132
@wallyqs @variadico Any news on this one?

[2021-03-26 23:42] variadico commented on #132
Ah, whoops. We've been moving around where images live recently. This release is available here:
https://hub.docker.com/r/natsio/prometheus-nats-exporter/tags

https://github.com/nats-io/prometheus-nats-exporter#run

[2021-03-26 23:42] #132 closed

[2021-05-07 21:37] #134 closed

[2021-05-13 06:25] wallyqs opened #137 "Add jsz metrics"

[2021-06-02 14:17] wallyqs opened #138 "Add JSZ metrics"

[2021-06-02 15:22] #138 closed

[2021-07-01 00:11] wallyqs commented on #137
Fixed via #141

[2021-07-01 00:11] #137 closed

[2021-07-01 00:12] wallyqs opened #143 "Add example Grafana dashboard with JS metrics"

[2021-09-01 22:49] lokiwins commented on #92
We have started to use nats and use the exporter to get metrics into prometheus and one issue we have come across is the exporter can be connected to nats just fine and report metrics but if nats restarts and gets a new IP the exporter still reports all is ok but no metrics show up in prometheus. Only after deleting/restarting the exporter pod does it then connect to nats and we start getting metr

[2021-09-16 23:01] wallyqs opened #146 "Exposing reserved memory in jsz/varz"
reference: https://github.com/nats-io/nats-server/pull/2539/files

[2021-10-07 12:30] innorfui opened #147 "Nats metrices nats_varz_out_msgs & nats_varz_out_bytes showing zero value"
Hello,

I have created a dashboard in grafana for monitoring as shown below, I see out_msgs & out_bytes as 0 in my metrics.

![image](https://user-images.githubusercontent.com/46398617/136382389-d5d520c8-093c-4de9-86a3-a9130e90e633.png)

I just want to know why it showing zero value or I have to use different metrics.

If I go on the following url: https://host:port/nats/varz

It show be below out

[2021-11-04 11:47] ali-ghasempor opened #150 "Version is outdate"
Hello,
I think the version should be updated to v0.9.0 on main.go file for latest release.
https://github.com/nats-io/prometheus-nats-exporter/blob/978b235e05d59485b7e03576bacf8e3d8925fbcb/main.go#L30

[2021-11-09 14:31] phho opened #151 "Add jsz consumer ack floor consumer_seq and stream_seq metrics"
The latest version nats exporter doesn't contain ack floor metrics, but the stream/consumer ack floor seq can be obtained through nats-server monitoring endpoint /jsz. Please consider to add ack floor metrics in nats exporter for monitoring delivered seq and ack floor seq difference. Thanks.

/jsz?consumers=true output as below
[code]

[2021-11-10 21:36] bwerthmann opened #152 "gateway_info metrics produce metrics with high label cardinality"
# Problem

Metrics `gnatsd_gatewayz_inbound_gateway_info` and `gnatsd_gatewayz_outbound_gateway_info` produce  [high label cardinality](https://www.robustperception.io/cardinality-is-key). See [Label Analysis](#label-analysis) for the labels of interest.

# Background

From Prometheus docs on [labels](https://prometheus.io/docs/practices/naming/#labels):

# Impact

The impact of this misuse of lab

[2021-11-24 17:12] unglaublicherdude opened #153 "Stats in Prometheus exporter"
Hi, we are testing the prometheus exporter and are especially interested in the gnatsd_varz_in_msgs stat.
We did the following setup. Run a nats, target that nats with the prometheus exporter. push messages into the nats.

then we wrote a consumer, that justs counts how many messages it has received.

The count shows us around 160.000 but the stat show about 290.000. Any Ideas why these numbers do

[2021-11-25 10:44] unglaublicherdude commented on #153
It is more realistic when doing a sum(increase on the metric so should it not rather be a counter?

[2022-01-10 07:18] manuelottlik opened #155 "JetStream dashboard not working"
Hey guys,

I am currently setting up my cluster with NATS JetStream using the `nats` and `nack` helm charts which include this prometheus exporter from your [k8s repository](https://github.com/nats-io/k8s). When importing the Grafana dashboards [14862](https://grafana.com/grafana/dashboards/14862), [14725](https://grafana.com/grafana/dashboards/14725) or the one provided in `walkthrough/grafana-je

[2022-01-17 13:00] sergiomcalzada commented on #153
I can't check how it works, but from the numbers it seems to be a counter and not a gauge
Hope anyone can confirm and update the description (at least)

[2022-01-17 15:58] juanantoniocid commented on #150
Did you already update it in the assets but not in the Docker image?

If I ask the version of the exporter within the Docker image for the 0.9.0 version, I get 0.8.0 (mismatches)

[code]

But if ask the exporter version from an asset in its 0.9.0 version, I get 0.9.0 (matches)

[code]

The problem is that the version told by the Docker image mismatches with the version told by the asset, being bot

[2022-01-27 10:19] andy-g commented on #155
Hi @manuelottlik, I contributed the JetStream example dashboard initially (and posted this too [14725](https://grafana.com/grafana/dashboards/14725)), but I'm not a part of the core team, so didn't get a notification of this issue, and just luckily stumbled across it.

From what I can see, the issue is that you don't have a prometheus datasource defined in Grafana, it should look something like th

[2022-02-02 14:30] manuelottlik commented on #155
Hey @andy-g, thanks for the reply!
You are right, there was something wrong with my datasource configuration. However, the dashboard still doesn't work anymore – I guess that is because the names of the metrics changed. Someone actually provided an updated version already – maybe you can add that to the repository / your original dashboard?

https://grafana.com/grafana/dashboards/14862

[2022-02-02 15:47] andy-g commented on #155
Hi @manuelottlik glad you're coming right, I realise my local docker had cached an earlier version of the exporter, so I rebuilt my env using the latest version, but my dashboard is still working, when I compare the 2 versions of the dashboard, I see that an example of the change from my version to the other one you reference is below:
<img width="754" alt="image" src="https://user-images.githubus

[2022-02-03 14:25] manuelottlik commented on #155
hey @andy-g, I am using the official helm charts "nats" and "nack" from [nats-io/k8s](https://github.com/nats-io/k8s) to deploy my NATS stack. The current version of the "nats" chart (0.12.1) includes the exporter in version 0.9.1 ([see here](https://github.com/nats-io/k8s/blob/v0.12.1/helm/charts/nats/values.yaml#L491)).

[2022-02-04 10:48] andy-g commented on #155
@manuelottlik I'm really confused, can you please confirm that if you go to the explore tab in grafana, and start typing `jetsream_stats_stora` you don't see the `gnatsd_varz_jetstream_stats_storage` & `gnatsd_varz_jetstream_stats_reserved_storage` metrics in my screenshot in my previous comment?

I've searched through the `prometheus-nats-exporter` source code, and from what I can see, the `gnats

[2022-02-04 21:05] manuelottlik commented on #155
@andy-g here you go:

![screenshot-Google Chrome-Explore - Prometheus - Grafana-202204-220340](https://user-images.githubusercontent.com/28919003/152602825-4e7c173c-0424-4be1-b5ab-8bd00a6538f2.png)
![screenshot-Google Chrome-Explore - Prometheus - Grafana-202204-220414](https://user-images.githubusercontent.com/28919003/152602849-00f4103f-17a0-4c95-ac75-0bdcc2f84032.png)
![screenshot-Google Chrome

[2022-02-04 21:09] manuelottlik commented on #155
Oh I think I found it: In [this line](https://github.com/nats-io/prometheus-nats-exporter/blob/v0.9.1/collector/collector.go#L30) it says that they leave `gnatsd` so people don't have to update their dashboards (lol), but in the helm chart in [this line](https://github.com/nats-io/k8s/blob/main/helm/charts/nats/templates/statefulset.yaml#L574) they overwrite the prefix.

[2022-02-05 06:02] andy-g commented on #155
Very nice find @manuelottlik, having inconsistent metrics depending on whether you bring it up locally (or in docker) or via helm doesn't make it simple to create a shared dashboard. Not sure if a variable on the grafana import would be able to solve this, I'll have to take a look.

Otherwise, on the dashboard readme we could just include instructions to use the same command that Helm is using.

[2022-02-05 17:46] manuelottlik commented on #155
Yes, I feel like this issue is best solved by just providing clarity in each projects README about what is going on — if the future versions of the exporter are going to make the `nats_` prefix the default for metrics though, it might as well make sense to simply update the dashboard overall and release it as a separate one / just link to the existing one I mentioned earlier.

[2022-02-07 09:38] andy-g commented on #155
@manuelottlik I've added a note on the [Grafana.com template](https://grafana.com/grafana/dashboards/14725), and opened a PR to include a note regarding the HELM prefix override on the walkthrough README, as well as a helm specific version of the template #161.

[2022-02-07 11:08] manuelottlik commented on #155
Awesome!

[2022-02-08 21:37] variadico opened #162 "testing ignore me"

[2022-02-08 21:38] #162 closed

[2022-02-08 21:44] variadico commented on #155
Does the helm dashboard in #161 solve your issue, @manuelottlik?

[2022-02-09 06:49] manuelottlik commented on #155
Yes it does, I think this issue can be closed now. Thanks again, @andy-g !

[2022-02-09 06:49] #155 closed

[2022-02-11 14:40] innorfui commented on #147
Hi,
In NATs 2.7.1 I can now see these out_bytes and out_msgs are getting populated.

"tls_timeout": 2,
"write_deadline": 10000000000,
"start": "2022-02-11T10:07:22.229990716Z",
"now": "2022-02-11T12:31:20.780393525Z",
"uptime": "2h23m58s",
"mem": 55853056,
"cores": 8,
"gomaxprocs": 8,
"cpu": 9,
"connections": 3,
"total_connections": 50886,
"routes": 1,
"remotes": 1,
"leafnodes": 0,
"in_msgs": 2608

[2022-02-11 14:40] #147 closed

[2022-02-18 15:50] udf2457 opened #163 "Publish SHA256SUMS in releases"
Please could you kindly follow convention and publish SHA256SUMS in your releases. Thank you.

[2022-02-27 21:59] JohannesEH opened #164 "Won't run as windows service"
Hi I'm trying to get v0.9.1 to run as a windows service but it fails with a 7009 (timeout) error. Watching the logs, the server starts up fine but the seems to be some miscommunication between the windows service control manager and the prometheus-nats-exporter process that makes it think the process hasn't started.

Do you have any ideas how to solve this?

[2022-03-16 16:11] sommerit opened #165 "gnatsd Prometheus alerts"
Hello Guys,

I implement the Nats Exporter into my K8s / Prometheus Stack and ever things works like charm
Thanks for that community

Now I look for some Monitoring Rules because my experience with Nats is not that big.

For other services I like to use https://awesome-prometheus-alerts.grep.to/rules.

Have, maybe someone experiences and can provide some Rules?

I will ofc research and if I find s

[2022-04-08 16:33] philipfoulkes commented on #152
I'm happy to submit a PR for this issue. Should we either just remove the _info metrics, or remove the _info metrics and add separate metrics for last_activity, uptime, start, and idle?

Would removal of _info create any compatibility concerns?

@wallyqs

[2022-04-13 14:01] bwerthmann commented on #152
@wallyqs are you aware of any consumers of the gateway metrics? I didn't see any gateway metric consumers in the walkthrough/packaged dashboards. Presumably someone is using them?

[2022-04-13 20:06] wallyqs commented on #152
@philipfoulkes I think sounds good to clean these metrics up as needed, not sure they are being used since not in dashboards or guides, thanks again for the PR.

[2022-04-14 18:53] #152 closed

[2022-04-21 15:18] raypinto opened #170 "Add consumer description label to scrapped metrics"
Since consumer names are recommended to have 32 characters, required consumer information could be added as part of the [description field](https://github.com/nats-io/jsm.go/blob/74f6dbdd4065cf740362d32988221b9a00932605/api/consumers.go#L261). It would be nice to have `consumer_desc` as a label in addition to the [consumer_name](https://github.com/nats-io/prometheus-nats-exporter/blob/ff211d57e402

[2022-05-06 11:11] #170 closed

[2022-05-06 11:31] SpringLeee opened #172 "JetStream cluster monitor"
Hi, I have a JetStream cluster with three nodes and deployed in k8s, how should I monitor it in this case? Do I need to use three exporters to monitor three nodes? Can someone tell me what should I do? How to do it?

[2022-05-17 13:26] nikakis opened #174 "Expose exporters collectors"
I would like to expose the collectors field from exporter [here](https://github.com/nats-io/prometheus-nats-exporter/blob/main/exporter/exporter.go#L75) and also the `initializeCollectors` function [here](https://github.com/nats-io/prometheus-nats-exporter/blob/main/exporter/exporter.go#L168) and `clearCollectors` function for the sake of this [feature](https://github.com/grafana/agent/issues/1704

[2022-05-23 18:50] carrodher opened #177 "Tag available for version 0.9.3, but not Release"
There is a tag available for the new version (0.9.3) at https://github.com/nats-io/prometheus-nats-exporter/releases/tag/v0.9.3, but there is not a release entry in the [Releases view](https://github.com/nats-io/prometheus-nats-exporter/releases).

Do you have plans to release this new version like the previous ones?

[2022-05-23 19:04] wallyqs commented on #177
Thanks @carrodher , the release is available now: https://github.com/nats-io/prometheus-nats-exporter/releases/tag/v0.9.3

[2022-05-23 19:04] #177 closed

[2022-05-27 07:11] ianzhang1988 opened #178 "In case of MQTT with lots of clients，decrease metrics number for consumer."
If there are a million MQTT clients, They would produce a huge number of promethus entries as jetstream consumers. This could put presure on promethus servser. And hard to make sence.

I think seperate MQTT consumsers from other stream use would be nice. Something like:
1. Summary MQTT status: total consumer num, total num delivered, etc.
2. Top N consumers have outstanding numbers like pending ms

[2022-05-31 10:57] VictorPerezForm3 opened #179 "varz_jetstream_meta_leader reports more than one leader"
Hello :wave:

We noticed the metrics `nats_varz_jetstream_meta_leader` reports multiple leaders at the same time.

[code]

After restarting the pod, the metric was fixed and only one leader appeared in the query. I believe the old leader is not removed from the metrics when a new one is elected.

Thanks :bowing_man:

[2022-05-31 15:43] derekcollison commented on #179
I did a quick review and places some comments.

[2022-06-02 17:30] #179 closed

[2022-06-02 23:16] wallyqs commented on #174
sorry for the delay just merged your PR, thanks for the contribution!

[2022-06-02 23:16] #174 closed

[2022-06-24 14:01] drewcorlin1 opened #181 "Export Jetstream Advisories"
Certain information that is (to my knowledge) only available as [Jetstream advisories](https://docs.nats.io/running-a-nats-service/nats_admin/monitoring/monitoring_jetstream#advisories) would be useful to export to prometheus.

The ones I think would be most helpful are:
* Consumer maximum delivery reached
* Message delivery naked using AckNak
* Message delivery terminated using AckTerm

and I als

[2022-08-02 17:30] nsurfer opened #183 "Remove GODEBUG"
After updating to a newer version of Go, `GODEBUG=x509sha1=1` is necessary for this test to pass.

[code]

We need to update the TLS certificates so they don't use SHA1-RSA and then remove `GODEBUG=x509sha1=1` from the [Makefile](https://github.com/nats-io/prometheus-nats-exporter/blob/main/Makefile#L32-L33).

[2022-08-20 09:46] carrodher opened #186 "Release for 0.10.0 version"
Thanks for the new version released a couple of days ago.
I just saw this version appears as a tag at https://github.com/nats-io/prometheus-nats-exporter/releases/tag/v0.10.0 but there is not an associated release at https://github.com/nats-io/prometheus-nats-exporter/releases.
Could you please create the associated release?

[2022-08-20 14:43] wallyqs commented on #186
It should be fixed now, thanks for raising the issue

[2022-08-21 09:59] carrodher commented on #186
Thank you very much!

[2022-08-21 09:59] #186 closed

[2022-08-25 09:38] SiminMu opened #187 "value of jetstream_server_total_consumers is not same as the output of nats con ls"
Hi, I am testing the prometheus-nats-exporter, is there a document which describes every metric in details?
I imported two dashboards from Grafana website, but some of the metric values look strange for me, Grafana dashboards:
https://grafana.com/grafana/dashboards/2279-nats-servers/
https://grafana.com/grafana/dashboards/14725-nats-jetstream/

One example is for metric jetstream_server_total_cons

[2022-09-02 02:59] Doslin opened #188 "gnatsd This dhashboard is out of date"
https://github.com/nats-io/prometheus-nats-exporter/blob/main/walkthrough/grafana-nats-dash.json
the dashboard

[2022-09-02 03:11] #188 closed

[2022-09-18 17:10] AhmedAbouelkher commented on #187
Did you find a solution?
For me, I only see "no data" :( even when every configuration is right.

![Screen Shot 2022-09-18 at 7 09 30 PM](https://user-images.githubusercontent.com/56558577/190919654-e97d97e4-8867-45e7-a98b-4372ffda4682.png)

[2022-09-22 15:19] countravioli commented on #188
@Doslin - I think I just came across this too.Does it have to do with all the variable names being different? This is my first attempt at using grafana and my observation is that nats_server variable names have changed from something like `gnatsd_varz_in_msgs` to `nats_varz_in_msgs` and jetstream messages have changed in various ways as well.

Just wanted a sanity check and to add some details to

[2022-09-28 21:06] AhmedAbouelkher commented on #187
@SiminMu Can you share your `prometheus-nats-exporter` args?

[2022-10-04 07:01] codifierr commented on #115
Fixed with this PR.
https://github.com/nats-io/prometheus-nats-exporter/pull/120

[2022-10-04 07:01] #115 closed

[2022-10-11 10:03] Bomberman244 commented on #87
If anyone stumbles about this problem again:

`prometheus-nats-exporter:
    image: natsio/prometheus-nats-exporter
    hostname: prometheus-nats-exporter
    command: "-DV -jsz=all http://nats:8222"
    ports:
    - "7777:7777"`
This should work :)

[2022-10-24 12:17] vvkovtun commented on #172
Could someone help with these questions?

[2022-11-15 14:14] fasibio opened #193 "Added Account as selection"
We have more than one stage running at sames cluster. So I missed account selection at dashboard so updated manual.

Should it be added at general ?

Have to rename it to txt but is a json file:
[grafana-jetstream-dash-helm.txt](https://github.com/nats-io/prometheus-nats-exporter/files/10013375/grafana-jetstream-dash-helm.txt)